
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: 100%;
}

body{
    background: linear-gradient(180deg, rgba(131, 202, 142, 0.65) 0%, #2789CA 100%);
    font-family: 'Nunito Sans', sans-serif;
}
.blocks{
    margin-left: 1;
    margin-top: -6rem;
    opacity: 40%;
    position: absolute;
    z-index: -1;

}


.card {

    padding: 10px;
    margin: 10px;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.3s ease-out;
    background-color: white;


}

.card_content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
    background-color: white;
}
.card.active .card_content {
    height: auto;
    padding: 10px;
}

.columns{
    margin-top: 5vh;
    color: rgb(36, 35, 35);
}
