
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: 100%;
}

body{
    background: linear-gradient(180deg, rgba(131, 202, 142, 0.65) 0%, #2789CA 100%);
    font-family: 'Nunito Sans', sans-serif;
}
.blocks{
    margin-left: 1;
    margin-top: -6rem;
    opacity: 40%;
    position: absolute;
    z-index: -1;

}
.contact{
    color: white;
    text-align: center;
}
.border{
   border:none;

}
.button{
border: none;
color: black;
background-color: white;
padding: 0.4%;
}
.foto{
width: 100%;
height: auto;       
opacity: 40%;
z-index: -1;
}
