
*{
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
    width: 100%;
}

body{
    background: linear-gradient(20deg, rgba(39,137,202,1) 0%, rgba(135,196,143,1) 100%);
    
}
.blocks{
    display: block;
    margin-left: 1;
    opacity: 50%;
    position: absolute;

}
.title_1{
color: white;
text-align: center;
margin-top: 10vh;
font-weight: 1000;
}

.title_2{
text-align: center;
color: #2789CA;
font-weight: bolder;
}

.intro{
    color: white;
    text-align: center;
}