
*{
    margin: 0;
    padding: 0;
}

html{

    width: 100%;
}

body{
    background: linear-gradient(180deg, rgba(131, 202, 142, 0.65) 0%, #2789CA 100%);
    font-family: 'Nunito Sans', sans-serif;
}
.blocks{
    margin-left: 1;
    margin-top: -6rem;
    opacity: 40%;
    position: absolute;
    z-index: -1;

}


.picture_1{
    float: left;
    z-index: 0;
    height: 40vh;
    width: 30%;
    margin-left: 4vh;
    margin-top: 10vh;
}

.text_1{
    float: right;
    color: white;
    width: 100vh;
    margin-right: 40vh;
    margin-top: 10vh;
    border-left: 2px solid white;
    padding: 5px;
}

.text_2{
    float: right;
    color: white;
    width: 100vh;
    margin-right: 40vh;
    margin-top: 10vh;
}


.picture_2{
    float: right;
    z-index: 0;
    height: 40vh;
    width: 30%;
    margin-right: 4vh;
    margin-top: 15vh;

}

.text_3{
    float: left;
    color: white;
    width: 100vh;
    margin-left: 40vh;
    margin-top: 10vh;
    border-left: 2px solid white;
    padding: 5px;
}

.text_4{
    float: left;
    color: white;
    width: 100vh;
    margin-left: 40vh;
    margin-top: 10vh;
}